<div class="container mt-5">
  <h1 class="mb-3">My tasks</h1>

  <ul id="tasks">
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <hr>

  <%= link_to new_task_path do %>
    <i class="fa-solid fa-plus"></i> Add a new task
  <% end %>
</div>


<%
=begin %>

<h1 class="mt-3">My Tasks</h1>
<div class="m-3"> ➕<%= link_to 'Add a task', new_task_path , class: "btn btn-primary"%> </div>

<ul class="m-3 list-group">
  <% @tasks.each do |task| %>
    <li class="w-25 p-3 list-group-item text-center"><%= link_to task.title, task_path(task)%><div class: "text-right"><%=task.completed == true ? "✅" : "⬜️"%></div></li>
  <% end %>
</ul>

<%
=end %>
